In [4]:
import pandas as pd

In [5]:
dataset=pd.read_csv("insurance_pre.csv")

In [6]:
#Prepocessing the dataset using Label Encoding for 2 categorical data
sex_mapping={'male':1,'female':0}
smoker_mapping={'yes':1,'no':0}
dataset['sex']=dataset['sex'].replace(sex_mapping)
dataset['smoker']=dataset['smoker'].replace(smoker_mapping)

C:\Users\huawei\AppData\Local\Temp\ipykernel_28788\1771400464.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset['sex']=dataset['sex'].replace(sex_mapping)
C:\Users\huawei\AppData\Local\Temp\ipykernel_28788\1771400464.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset['smoker']=dataset['smoker'].replace(smoker_mapping)

In [7]:
independent=dataset[['age','sex','bmi','children','smoker']]
independent

      age  sex     bmi  children  smoker
0      19    0  27.900         0       1
1      18    1  33.770         1       0
2      28    1  33.000         3       0
3      33    1  22.705         0       0
4      32    1  28.880         0       0
...   ...  ...     ...       ...     ...
1333   50    1  30.970         3       0
1334   18    0  31.920         0       0
1335   18    0  36.850         0       0
1336   21    0  25.800         0       0
1337   61    0  29.070         0       1

[1338 rows x 5 columns]

In [22]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [18]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=100,criterion="absolute_error",max_features="log2")
regressor=regressor.fit(x_train,y_train)

C:\Users\huawei\anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [19]:
y_pred=regressor.predict(x_test)

In [20]:
from sklearn.metrics import r2_score
r_val=r2_score(y_pred,y_test)
r_val

0.8427433042882294

In [21]:
import pickle 
filename="Finalized_RandomForestModel.sav"
pickle.dump(regressor,open(filename,'wb'))