In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
#Prepocessing the dataset using Label Encoding for 2 categorical data
sex_mapping={'male':1,'female':0}
smoker_mapping={'yes':1,'no':0}
dataset['sex']=dataset['sex'].replace(sex_mapping)
dataset['smoker']=dataset['smoker'].replace(smoker_mapping)

C:\Users\huawei\AppData\Local\Temp\ipykernel_26132\199837379.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset['sex']=dataset['sex'].replace(sex_mapping)
C:\Users\huawei\AppData\Local\Temp\ipykernel_26132\199837379.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset['smoker']=dataset['smoker'].replace(smoker_mapping)

In [4]:
dataset

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       0   1629.83350
1336   21    0  25.800         0       0   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [5]:
independent=dataset[['age','sex','bmi','children','smoker']]
independent

      age  sex     bmi  children  smoker
0      19    0  27.900         0       1
1      18    1  33.770         1       0
2      28    1  33.000         3       0
3      33    1  22.705         0       0
4      32    1  28.880         0       0
...   ...  ...     ...       ...     ...
1333   50    1  30.970         3       0
1334   18    0  31.920         0       0
1335   18    0  36.850         0       0
1336   21    0  25.800         0       0
1337   61    0  29.070         0       1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [81]:
from sklearn.svm import SVR
regressor=SVR(kernel='poly',C=5000)
regressor=regressor.fit(x_train,y_train)

C:\Users\huawei\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [82]:
y_pred=regressor.predict(x_test)

In [83]:
from sklearn.metrics import r2_score
r_value=r2_score(y_test,y_pred)
r_value

0.14622378659405622